{% extends 'ArtSpaceShopBundle::base.html.twig' %}

{% block subtitle %}| Pricing{% endblock  %}

{% block body %}
                <section id="title_section">
                    <h1>Make a choice</h1>
                </section> <!-- Fin Started -->
                <div class="container">
                    <section id="offer">
                        <div class="pricinglink">
                            <a href="{{ path ('art_space_shop_pricing')}}"> Return to sections </a>
                        </div>
                        <div class="standard">
                                <div class="standardTitle">
                                    <h2>{{ product.name }}</h2>
                                    <p><span class="exp">$</span><span class="number">{{ product.price }}</span><span>/MO</span></p>
                                    <a href="{{ path ('art_space_shop_add_to_cart', {'productId':product.id}) }}" class="addtoCart">Add to cart </a>
                                </div> <!-- Fin standard title -->
                                {{ product.description | raw }}

                        </div> <!-- Fin Standard -->

                    </section> <!-- Fin Offer -->

                </div> <!-- Fin Container -->
{% endblock  %}

